.container#content {
  margin-top: 60px;
}
@media(max-width: 1200px) {
  .container {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

body {
  background-color: white;
}
a {
  color: #0056b3;
  &:hover {
    color: #007bff;
    text-decoration: none;
  }
}
body {
  font-family: $site-font;
}
.navbar {
  background-color: #fefefe;
}
.navbar.compressed {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #F9FAFB;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: black;
  &:hover {
    color: black;
  }
}
ul {
  list-style: none;
  padding: 0;
}
